@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:color';

// ─── Botones ──────────────────────────────────────────────────────────────

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $sp-8 $sp-16;
  border-radius: $radius-md;
  font:$fw-medium $txt-base $font-primary;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid $color-black-25;
  background-color: $color-white;

  &--primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
      background: color.adjust($color-primary, $lightness: -8%);
    }
  }
  &--anadir {
    background: $color-white;
    color: $color-primary;

    &:hover {
      background: color.adjust($color-primary, $lightness: -8%);
      color: $color-white;
    }
  }

  &--outline {
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
      background: color.adjust($color-primary, $lightness: -8%);
      color: $color-white;
    }
  }
  &--logout {
    color: $color-logout;
    border-color: $color-black-25;

    @include bp-990 {
        order: 2;
      }

    &:hover {
      background: $color-logout;
      color: $color-white;
    }
  }

  &--sm {
    font-size: $txt-xs;
    padding: $sp-4 $sp-12;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// ─── Inputs ───────────────────────────────────────────────────────────────
.input {
  width: 100%;
  padding: $sp-12 $sp-16;
  border: 1px solid $color-border;
  border-radius: $radius-md;
  font:$fw-semibold $txt-base $font-primary;
  color: $color-text;
  background: #fff;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  background-color: rgba($color-black-5, $alpha: .5);

  &::placeholder {
    font-weight: $fw-semibold;
    color: $color-text;
  }

  &:focus {
    border-color: $color-primary;
  }

  &--error {
    border-color: $color-error;
  }
}

// ─── Cards ────────────────────────────────────────────────────────────────
.card {
  background: #fff;
  border: 1px solid $color-border;
  border-radius: $radius-lg;
  padding: $sp-16;
  @include flex(column, flex-start, flex-start);
  gap: $sp-8;
}
