@use 'variables' as *;

// Flex shortcuts


@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $sp-24;
}

// Breakpoints — Mobile First

@mixin bp-768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin bp-990 {
  @media screen and (min-width: 990px) {
    @content;
  }
}
@mixin bp-1200 {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Tipografía
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
