@use '../../styles/fonts';
@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/elements';
@use '../../styles/reset';

.main-navbar {
  height: 40px;
}
.main-navbar a {
  margin-right: 10px;
  padding: 10px;
}
