@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;


.client-card {
  background: $color-bg;
  border: 1px solid $color-border;
  border-radius: $radius-lg;
  padding: $sp-24;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: rgba(0, 0, 0, 0.01);
  @include flex ( column, center, center);
  div {
    width: 100%;
  }
}

.client-card__name {
  font: $fw-bold $txt-titleCard $font-primary;
  text-transform: uppercase;
  color: $color-primary;
  margin: 0 0 $sp-12;
  border-bottom: 1px solid $color-black-10;
  padding:0 $sp-8 $sp-8;
}

.client-card__detail {
  @include flex-between;
  font-family: $font-secondary;
  font-size: $txt-sm;
  color: $color-text;
  margin: 0 0 $sp-4;
  padding: 0 $sp-4 $sp-8;
  border-bottom: 1px solid #e5e5e5;
  strong {
    color: $color-primary;
  }
  :last-child {
    border-bottom: none;
  }

}

.client-card__label {
  font-weight: $fw-semibold;
  color: $color-text-muted;
}
.client-card__botones {
  @include flex-center;
  padding: $sp-12 $sp-16 0;
  margin-top: auto;
  gap: $sp-16;
}
